* {
  text-decoration: none;
  list-style: none;
}
a {
  font-weight: bold;
  color: #181825;
}
a:visited {
  color: #181825;
}

a:hover {
  color: #ef9f76;
}

body {
  background: #edd2bd;
  font-family: Arial, Helvetica, sans-serif;
  color: #181825;
}

img {
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.main-ul {
  display: flex;
}

.main-ul li {
  margin: 0 auto;
}

.pic-ul {
  display: flex;
}

.pic-ul li {
  margin: 0 auto;
}
